<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title %></title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <main>
        <form class="user-form" action="/" method="POST">
            <div class="form-crontrol" >
                <label for="name">User Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-crontrol">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-crontrol">
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass">
            </div>

            <button class="btn" type="submit">Add User</button>
        </form>
        <form class="user-form" action="/" method="DELETE">
            <button class="btn" type="submit">Delete User</button>
        </form>
        
    </main>
</body>
</html>